version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: template_db
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ../backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/template_db
    depends_on:
      - mongo
    ports:
      - "8000:8000"

  frontend:
    build: ../frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo-data:
